.error-page-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error-page-img {
  margin-top: 20px;
  width: 100%;
}

.error-back-btn {
  margin: 0 10px;
  text-decoration: none;
}

error-back-btn:visited {
  color: inherit;
}
